html {
    background: rgb(60,110,113);
    background: radial-gradient(circle, rgba(60,110,113,1) 0%, rgba(40,75,99,1) 100%);
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    max-width: 90%;
    height: 50%;
}

/* Banner Overlay
.image-banner {
    position: relative;
}

.image-banner img {
    display: block;
}

.banner-description{
    position: absolute;
    bottom: 0;
    left: 0;
    color: #FFF;
    background-color: rgba(0, 0, 0, .5);
    padding: 15px 25px;
}
 Banner Overlay End*/

.container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255,255,255,0)

}

header{
    padding-top: 20px;
}

header h1 {
    margin: 0;
    color: #353535;
    font-weight: normal;
    font-size: 165%;
}

header p {
    margin: 0;
    color: #3858d6;
}

.content-area {
    border-top: 3px solid #a3b6ff;
}

.main-area{
    max-width: 66%;
    float: left;
    padding-right: 40px;
    box-sizing: border-box;
    color: #d9d9d9;
}

@media screen and (max-height: 450px) {
  .siitenav {padding-top: 15px;}
  .sitenav a {font-size: 18px;}
}



.sidebar {
    width: 34%;
    float:left;
    background-color: #a3b6ff;
    padding: 20px 40px;
    box-sizing: border-box;
    font-size: 85%;
    
}

/* Site Navigation */
.site-nav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0) 100%);
  overflow-x: hidden;
  padding-top: 20px;
}

.site-nav ul {
    margin: 0;
    padding: 0;
}

.site-nav li{
    list-style: none;
    float: left;
    margin-right: 5px;
}

.site-nav a{
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
}

.site-nav a:hover {
    color: #f1f1f1;
}
/*End Site Navigation */

.footer {
    text-align: center;
    font-size: 75%;
    color: #999;
    padding-bottom: 20px;
    padding-top: 20px;
}


.group:before,
.group:after {
    content: "" ;
    display: table;
}

.group:after{
    clear: both;
}

.group{
    zoom: 1;
}